@import "./variables";

.toolbar {
  height: $toolbar-height;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: absolute;
  box-shadow: 0 4px 5px gray;
  z-index: 1;

  &__btn {
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    cursor: default;
    background-size: cover;
    margin: 0 5px;
    background: no-repeat center center;
  }

  & .brush {
    background-image: url("../assets/img/brush.svg");
  }

  & .rect {
    background-image: url("../assets/img/rect.svg");
  }

  & .circle {
    background-image: url("../assets/img/circle.svg");
  }

  & .eraser {
    background-image: url("../assets/img/eraser.svg");
  }

  & .line {
    background-image: url("../assets/img/line.svg");
  }

  & .undo {
    background-image: url("../assets/img/undo.svg");
    margin-left: auto;
  }

  & .redo {
    background-image: url("../assets/img/redo.svg");
  }

  & .save {
    background-image: url("../assets/img/save.svg");
  }
}

.setting-bar {
  height: $toolbar-height;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: absolute;
  top: $toolbar-height;
  box-shadow: 0 4px 5px gray;
}
